---
import RootLayout from "@/layouts/root.astro";
import Footer from "@/components/footer.astro";
import Gallery from "@/components/gallery.astro";
import ClientTestimonials from "@/components/client-testimonials.astro";
import Showcase from "@/components/showcase.astro";
import AboutUs from "@/components/about-us.astro";
import Hero from "@/components/hero.astro";
import Header from "@/components/header.astro";
---

<RootLayout>
  <Header />
  <main>
    <Hero />
    <AboutUs />
    <Showcase />
    <ClientTestimonials />
    <Gallery />
  </main>
  <Footer />
</RootLayout>
