<section>
  <h3>Client testimonials</h3>
  <div>
    <article>
      <img src="/images/emily.jpg" alt="Emily R." />
      <blockquote>
        We put our trust in Sunnyside and they delivered, making sure our needs
        were met and deadlines were always hit.
      </blockquote>
      <div>
        <h4>Emily R.</h4>
        <p>Marketing Director</p>
      </div>
    </article>
    <article>
      <img src="/images/thomas.jpg" alt="Thomas S." />
      <blockquote>
        Sunnyside’s enthusiasm coupled with their keen interest in our brand’s
        success made it a satisfying and enjoyable experience.
      </blockquote>
      <div>
        <h4>Thomas S.</h4>
        <p>Chief Operating Officer</p>
      </div>
    </article>
    <article>
      <img src="/images/jennie.jpg" alt="Jennie F." />
      <blockquote>
        Incredible end result! Our sales increased over 400% when we worked with
        Sunnyside. Highly recommended!
      </blockquote>
      <div>
        <h4>Jennie F.</h4>
        <p>Business Owner</p>
      </div>
    </article>
  </div>
</section>
