---
import Attribution from "@/components/attribution.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />

    <meta name="generator" content={Astro.generator} />
    <title>Frontend Mentor | Sunnyside agency landing page</title>
  </head>
  <body>
    <slot />
    <footer class="footer-attribution">
      <Attribution />
    </footer>
  </body>
</html>
